/* standard EDoc style sheet */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
  background: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 20px;
  border: 0;
 	color: #000000;
}
div.navbar {
	padding: 0.2em;
}
h1{
  text-align: center;
}
h2.indextitle {
	padding: 0.4em;
}
h3.function,h3.typedecl {
  font-family: Courier, monospace; font-weight: bold;
}
div.spec {
  background-color:#eeeeff;
  padding: 0px 10px;
  margin: 0  0 0 40px;
  font-family: Courier, monospace; font-weight: normal
}
a.module {
	text-decoration:none
}
a.module:hover {
	background-color: #eeeeee;
}
ul.definitions {
	list-style-type: none;
}
ul.index {

}
ul.index li{
  font-family: Courier, monospace; font-weight: bold
}

body > p{
  padding-left: 40px;
}

/*
 * Minor style tweaks
 */
ul {
	list-style-type: square;
}
table {
	border-collapse: collapse;
}
td {
	padding: 3
}
