/* standard EDoc style sheet */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
  background: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 20px;
  border: 0;
 	color: #000000;
}
div.navbar {
	padding: 0.2em;
}
h1{
  text-align: center;
}
h2 {
  margin: 2em 0 1em;
}
h2.indextitle {
  margin: 1em 0;
}
h3.function,h3.typedecl {
  font-family: Courier, monospace; font-weight: bold;
  font-size: 1em;
  margin: 1.5em 0 1em;
}
div.spec {
  background-color:#eeeeff;
  margin: 0 0 0 40px;
  padding: 10px 5px;
  font-family: Courier, monospace; font-weight: normal
}
.spec p{
  margin: 0 ;
}
a.module {
	text-decoration:none
}
a.module:hover {
	background-color: #eeeeee;
}
ul.definitions {
	list-style-type: none;
}
ul.index {

}
ul.index li{
  font-family: Courier, monospace; font-weight: bold
}

body > p{
  padding-left: 40px;
}

/*
 * Minor style tweaks
 */
ul {
	list-style-type: square;
}
table {
	border-collapse: collapse;
}
td {
	padding: 3
}
